*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-columns:1fr 3fr;
}

.create{
  display: flex;
  justify-content: center;
  align-items: center;
 
  position: sticky;
  top: 0;
  background-color: #ccc; 
  max-height: 100vh;
}

.box{
  padding: 4px;
}
.box h1{
  color: blueviolet;
  font-size: 22px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  margin: 8px 0;
}

.box input{
  width: 100%;
  outline: 0;
  padding: 12px;
  border: 1px solid #777;
  margin: 12px 0;
}

.box button{
  width: 100%;
  padding: 9px;
  color: #fff;
  background-color: blueviolet;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  border-radius: 5px;
}
.blogs{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding: 2rem;
  gap: 1rem;
}

.blogs h1{
  color: blueviolet;
  font-size: 22px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  margin: 8px 0;
}
.comment{
  margin: 12px 0;
}