.card{
    height: 300px;
    width: 290px;
    padding: 1rem;
    background: rgba(137, 43, 226, 0.1);
    border-radius: 10px;
    border: 2px solid blueviolet;
}
.card p{
    font-size: 18px;
    font-style: italic;
    font-family: sans-serif;
    font-weight:500;
    margin: 12px 0;
    border-bottom: 2px solid gray;
    padding-bottom: 1rem;
    width: fit-content;
}

.card input{
    width: 100%;
    padding: 8px;
    outline: none;
    margin-bottom: 6px;
}
.card button{
    width: 100%;
    padding:8px;
    cursor: pointer;
    font-size: 18px;
    outline: none;
    border: none;
    background: #000;
    color: #fff;
}